# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/App.js
public/images/book-cover-2.jpg
public/images/book-cover-3.jpg
public/images/book-cover-4.jpg
public/images/book-cover-5.jpg
public/images/book-cover-6.jpg
public/images/book-cover-7.jpg
public/images/book-cover-8.jpg
public/images/book-cover-9.jpg
public/images/book-cover.jpg
