/* The sidebar menu */

.sidenav {
    background-color: #1D1D2A; 
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    border-right: 2px solid #282837;
  }
  #brand {
    background-color: #4242dd;
    padding: 26px 8px 26px 16px;
    display: flex;
    align-items: center;
  }
  .sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    border-radius: 15px;
  }
  .sidenav span{
    padding-right: 10px;
  }

  .login {
    position:absolute; 
    bottom:20px;
    width: 100%; 
  }

  .sidenav a:hover {
    opacity: 50%;
    background-color: #282837;
  }

  .selected {
    background-color: #282837;
  }
  .content {
    padding-top: 30px;
    padding-left: 30px;
  }
  .main {
    position: relative;
    background-color: #1D1D2A; 
    min-height: 100vh;
    height: 100%;
    margin-left: 20%;
    width: 80%;
  }
  
  .search_bar {
    box-sizing: border-box;

    position: absolute;
    width: 60%;
    height: 61px;

    border: 1px solid #1D1D2A;
  }
  
  .books_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .container_align {
    position: relative;
    width: 80%;
  }

  .search_result {
    padding-top: 91px;
    width: 80%;
  }

  .book {
    margin: 15px;
  }

  .cover {
    width: 177px;
    height: 215px;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    perspective: 1000px;
    background-color: transparent;
  }
  
  /* This container is needed to position the front and back side */
  .cover-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .cover:hover .cover-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .cover-front, .cover-back {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .cover-front {
    background-size: cover;
    color: black;
  }
  
  /* Style the back side */
  .cover-back {
    background-color: #282837;
    color: white;
    transform: rotateY(180deg);
  }
  .book_title {
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #4A83F6;
  }

  .book_author {
    margin: 0px;
    padding-bottom: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
  }

  @media (max-width: 767.98px) {
    .sidenav span{
      display: none;
    }
    .sidenav {
      width: 15%; 
    }
    .main {
      margin-left: 15%;
      width: 85%;
    }
    .content {
      padding-top: 15px;
      padding-left: 15px;
    }
    .book_title {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
    }
  
    .book_author {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }

    .cover {
      width: 70px;
      height: 90px;
      /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
      perspective: 1000px;
      background-color: transparent;
    }

    .book {
      margin: 5px;
    }

    .search_bar {
      width: 90%;
    }

    .search_result {
      width: 100%;
    }

    .cover-front, .cover-back {
      font-size: xx-small;
    }
  }