.book-block {
    display: flex;
    justify-content: center;
    background-color: #1D1D2A; 
    width: 100%;
    padding-bottom: 20px;
}

.container {
    border: 0px solid #1D1D2A;
}

.control-arrow {
    width: 10%;
    border-radius: 15px;
}

.hero {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.hero-image {  
    height: 45vh;
    border-radius: 15px;
    width: 75%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
  }

  @media (max-width: 767.98px) {
    .hero-image {  
        height: 60vh;
        border-radius: 15px;
        width: 90%;  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
      }
      .control-arrow {
        display: none;
    }
    .container {
      padding-top: 0vh;
  }
  }