.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #1D1D2A; 
  }
  
  .input-text {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .profile-img-card {
    display: flex;
    justify-content: center;
  }

  .input-button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #1D1D2A;
    border: 1px solid #282837;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50;
  }
  
  .button-container :hover {
    background: #282837;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
  }
  
  .title {
    font-size: 25px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  
  .alert {
    width: 227px;    
    font-size: 12px;   
    padding: 5px;
 }
 
 .wide-form {
  display: flex;
 }

 .book-img-card {
  display: flex;
  justify-content: center;
}

 .uploader__placeholder {
  width: 177px;
  height: 215px;
  border-radius: 15px;
 }

 @media (max-width: 767.98px) {
  .login-form {
    padding: 1rem;
  }
  .wide-form {
    flex-direction: column;
  }
  .uploader__placeholder {
    width: 120px;
    height: 150px;
   }
 }